/* search for testing and change before submitting! */

/* ask about absolute positioning to bring text in-front of p element in mobile view - surely theres an easier way! */
/* clean up code using shorthand where possible and clean */
/* implement nav toggle when clicked in mobile view!! */
/* clean up #links in homepage - about isn't levelled correctly */
/* add aria-labels to everything inlcuding background images in CSS */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&family=Martel&family=Nothing+You+Could+Do&display=swap');

/* Idea for this snippet of code came from the "Love Running" project, I liked the idea of having full control of these parameters later */

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #6A6058;
    color: #251E2D;
    font-family: 'Martel', serif;
}

h2 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 2.5em;
}

/* Navigation Bar */

#burger-menu-checkbox {
    display: none;
}

.burger-menu-label {
    display: none;
}

header {
    background-color: #A5978A;
    margin: 0 10px 10px;
    border: 5px solid #EEDDCA;
    box-sizing: border-box;
    display: flex;
    position: fixed;
    top: 0;
    width: calc(100% - 20px);
    height: 85px;
    z-index: 10;
    /* 10 - just in case anything else is added at a later date - I want this to remain on top */
}

header img {
    display: flex;
    height: 100%;
    align-items: center;
}

nav {
    margin: 15px;
    word-spacing: 20px;
    display: flex;
    position: absolute;
    right: 0;
    height: calc(100% - 20px);
    align-items: end;
}

nav li {
    font-size: 1.2rem;
    list-style-type: none;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    border-bottom: 2px solid #6A6058;
    color: #6A6058;
    font-weight: bolder;
}

/* Hero image & First view by user */

#hero-image {
    border-radius: 0 50% 0 0;
    /* Slight colour difference in top right corner was worse - bottom right at least looks like its meant to be - better fix in future! */
    margin-bottom: -9px;
}

#hero-text {
    position: absolute;
    top: 10%;
    right: 5%;
    font-family: 'Lora', serif;
    font-size: 115px;
    font-weight: 900;
    text-align: center;
    background-image: url(../images/hero-text-background.jpg);
    color: rgba(0, 0, 0, 0.3);
    /* Original image too light - this darkens it a bit */
    -webkit-background-clip: text;
    /* CREDIT - https://www.youtube.com/watch?v=g6eNK8hxDRI - The idea to use this line of code came from here, it didn't work without */
}

.landing-page {
    background-color: #A5978A;
    position: relative;
    margin: 95px 10px 10px;
    border: 5px solid #EEDDCA;
    box-sizing: border-box;
}

/* About section */

.about {
    position: relative;
    background-color: rgba(235, 234, 231, 0.7);
    /* = #EBEAE7 - but toned down due to opacity */
    height: auto;
    width: 100%;
}

.about>img {
    position: absolute;
}

#profile-image {
    max-height: 500px;
    border: 5px solid #675447;
    top: 70px;
    right: 20px;
}

.about>h2 {
    text-align: center;
}

.about>p {
    margin: 0 500px;
    text-align: center;
}

/* Services section */
/* CREDIT - https://www.youtube.com/watch?v=LBAThoUn3rU - The carousel idea came from here, took a lot of work on dev tools to make it work for me though. It was a fun nightmare! */

strong,
em {
    font-size: 0.7em;
}

.card>h2 {
    text-align: center;
}

#margin-services-ladies {
    margin-bottom: 40px;
    /* Smaller table - pushes ladies table down in order to center better within its card */
}

#margin-services-treatments {
    margin-bottom: 90px;
    /* Smaller table - pushes treatments table down in order to center better within its card */
}

.card table {
    width: 100%;
}

.card th {
    width: 50px;
    height: 50px;
}

.card td {
    height: 50px;
    text-align: center;
    line-height: 1em;
}

tr>.align-left {
    text-align: left;
}

.services-container {
    display: flex;
    margin: 25px;
    justify-content: center;
}

.cards {
    position: relative;
    height: 525px;
    width: 400px;
    perspective: 600px;
    transform-style: preserve-3d;
}

.cards label {
    position: absolute;
    background-color: #A5978A;
    width: 400px;
    transition: all 0.7s ease;
}

.cards .card {
    position: relative;
    height: 525px;
    border: 10px solid #675447;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 25px;
}

input {
    display: none;
}

#colors:checked~.cards #treatments-card,
#treatments:checked~.cards #ladies-card,
#ladies:checked~.cards #colors-card {
    transform: translate3d(65%, 0, -80px);
}

#colors:checked~.cards #ladies-card,
#treatments:checked~.cards #colors-card,
#ladies:checked~.cards #treatments-card {
    transform: translate3d(-65%, 0, -80px);
}

#colors:checked~.cards #colors-card,
#treatments:checked~.cards #treatments-card,
#ladies:checked~.cards #ladies-card {
    transform: translate3d(0, 0, 0);
}

/* Footer section */

footer {
    background-color: #A5978A;
    margin: 10px 10px;
    border: 5px solid #EEDDCA;
    box-sizing: border-box;
    bottom: 0;
    width: calc(100% - 20px);
    height: 85px;
}

footer>div {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}

#instagram {
    position: absolute;
    top: 48%;
    /* odd number; needed adjusting to work with <p> underneath Instagram icon */
    left: 50%;
    transform: translate(-50%, -50%);
    /* CREDIT - https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ - Saw this piece of code before, but opted not to use it as it didn't make sense to me. Then I found this page - explained it BEAUTIFULLY! */
    font-size: 50px;
    color: #251E2D;
}

footer>div>p {
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0); 
}

#instagram:hover {
    color: #6A6058;
    transform: scale(1.1) translate(-50%, -50%);
    /* Needed to apply the same knowledge here as above - it looked off otherwise */
}

/* Attributions - very bottom of the page */

#attributions {
    position: relative;
    height: 10px;
}

#vecteezy {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
    font-size: 0.8em;
}

#freepik {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 15px;
    text-decoration: none;
    color: inherit;
    font-size: 0.8em;
}

#vecteezy:hover,
#freepik:hover {
    color: #A5978A;
    font-weight: bolder;
}

/* Media queries */
/* Mobiles & small devices */

@media screen and (max-width: 480px) {

    body,
    html {
        overflow-x: hidden;
    }

    #hero-image {
        width: 100%;
    }

    #hero-text {
        visibility: hidden;
    }

    #burger-menu-checkbox {
        display: none;
        position: absolute;
        top: 50px;
        right: 10px;
        z-index: 10;
    }

    .burger-menu-label {
        display: block;
        position: absolute;
        top: 50px;
        right: 5px;
        z-index: 9;
    }

    #burger-menu-checkbox:checked~nav {
        display: block;
    }

    header {
        display: block;
    }

    header>a {
        pointer-events: none;
    }

    header img {
        box-sizing: border-box;
        width: 90%;
        height: auto;
        margin: 0;
    }

    nav {
        margin: 0;
        background-color: inherit;
        width: 100%;
        height: auto;
        display: none;
        opacity: 0.9;
    }

    nav li {
        font-size: 1rem;
        display: block;
        text-align: right;
        margin: 20px 10px 20px;
    }

    .about>img {
        visibility: hidden;
    }

    #profile-image {
        visibility: visible;
        max-height: 250px;
        top: 90px;
        right: 10px;
    }

    #mobile-view-wrap {
        /* This helps push text up and down - separates it from the profile picture */
        padding-top: 50px;
        padding-bottom: 60px;
        max-width: 165px;
        text-align: left;
    }

    .about>p {
        margin: 0 10px;
        text-align: justify;
        z-index: 20;
    }

    .card td {
        height: 40px;
    }

    .cards {
        height: 475px;
        width: 325px;
    }

    .cards label {
        width: 325px;
    }

    .cards .card {
        height: 475px;
    }

    #attributions {
        height: 5px;
    }

    #vecteezy,
    #freepik {
        font-size: 55%;
        margin: 0 5px;
    }
}