/* search for testing and change before submitting! */

/* ask about absolute positioning to bring text in-front of p element in mobile view - surely theres an easier way! */
/* clean up code using shorthand where possible and clean */
/* implement nav toggle when clicked in mobile view!! */
/* clean up #links in homepage - about isn't levelled correctly */
/* add aria-labels to everything inlcuding background images in CSS */
/* sections in homepage */
/* footer include attributions and push down with absolute values */
/* webkit for mozilla based browsers */
/* user stories in readme: I as a user would like to: ... */
/* link to w3c validation */
/* readme : under deployment write about development (diff section) */
/* burger menu in mobile view needs to disappear after clicking */
/* resize borders in blogs */
/* talk about the re-use of code and how you could have improved the reusability of code by better naming conventions */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&family=Martel&family=Nothing+You+Could+Do&display=swap');

/* Reset - Idea for this snippet of code came from the "Love Running" project, I liked the idea of having full control of these parameters later */
* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #6A6058;
    color: #251E2D;
    font-family: 'Martel', serif;
}

h2 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 2.5em;
}

/* Navigation Bar */

#burger-menu-checkbox {
    display: none;
}

.burger-menu-label {
    display: none;
}

header {
    background-color: #A5978A;
    margin: 0 10px 10px;
    border: 5px solid #EEDDCA;
    box-sizing: border-box;
    display: flex;
    position: fixed;
    top: 0;
    width: calc(100% - 20px);
    height: 85px;
    z-index: 10;
    /* 10 - just in case anything else is added at a later date - I want this to remain on top */
}

header img {
    display: flex;
    height: 100%;
    align-items: center;
}

nav {
    margin: 15px;
    display: flex;
    position: absolute;
    right: 0;
    height: calc(100% - 20px);
    align-items: end;
}

nav li {
    padding-left: 15px;
    font-size: 1.2rem;
    list-style-type: none;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    border-bottom: 2px solid #6A6058;
    color: #6A6058;
    font-weight: bolder;
}

/* index.html */
/* Hero section */

#hero-image {
    border-radius: 0 50% 0 0;
    /* Slight colour difference in top right corner was worse - bottom right at least looks like its meant to be - better fix in future! */
    margin-bottom: -9px;
}

#hero-text {
    position: absolute;
    top: 10%;
    right: 5%;
    font-family: 'Lora', serif;
    font-size: 115px;
    font-weight: 900;
    text-align: center;
    background-image: url(../images/hero-text-background.jpg);
    color: rgba(0, 0, 0, 0.3);
    /* Original image too light - this darkens it a bit */
    background-clip: border-box;
    -webkit-background-clip: text;
    /* CREDIT - https://www.youtube.com/watch?v=g6eNK8hxDRI - The idea to use this line of code came from here, it didn't work without */
}

.landing-page {
    background-color: #A5978A;
    position: relative;
    margin: 95px 10px 10px;
    border: 5px solid #EEDDCA;
    box-sizing: border-box;
}

/* About section */

.about {
    position: relative;
    background-color: rgba(235, 234, 231, 0.7);
    /* = #EBEAE7 - but toned down due to opacity */
    height: auto;
    width: 100%;
}

.about>img {
    position: absolute;
}

#profile-image {
    max-height: 500px;
    border: 5px solid #675447;
    top: 70px;
    right: 20px;
}

.about>h2 {
    text-align: center;
}

.about>p {
    margin: 0 500px;
    text-align: center;
}

/* Services section */
/* CREDIT - https://www.youtube.com/watch?v=LBAThoUn3rU - The carousel idea came from here, took a lot of work on dev tools to make it work for me though. It was a fun nightmare! */

strong,
em {
    font-size: 0.7rem;
}

#services>h2,
.card>h2 {
    text-align: center;
}

#margin-services-ladies {
    margin-bottom: 40px;
    /* Smaller table - pushes ladies table down in order to center better within its card */
}

#margin-services-treatments {
    margin-bottom: 90px;
    /* Smaller table - pushes treatments table down in order to center better within its card */
}

.card table {
    width: 100%;
}

.card th {
    width: 50px;
    height: 50px;
}

.card td {
    height: 50px;
    text-align: center;
    line-height: 1em;
}

tr>.align-left {
    text-align: left;
}

.services-container {
    display: flex;
    margin: 25px;
    justify-content: center;
}

.cards {
    position: relative;
    height: 525px;
    width: 400px;
    perspective: 600px;
    transform-style: preserve-3d;
}

.cards label {
    position: absolute;
    background-color: #A5978A;
    width: 400px;
    transition: all 0.7s ease;
}

.cards .card {
    position: relative;
    height: 525px;
    border: 10px solid #675447;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 25px;
}

.services-container>input {
    display: none;
}

#colors:checked~.cards #treatments-card,
#treatments:checked~.cards #ladies-card,
#ladies:checked~.cards #colors-card {
    transform: translate3d(65%, 0, -80px);
}

#colors:checked~.cards #ladies-card,
#treatments:checked~.cards #colors-card,
#ladies:checked~.cards #treatments-card {
    transform: translate3d(-65%, 0, -80px);
}

#colors:checked~.cards #colors-card,
#treatments:checked~.cards #treatments-card,
#ladies:checked~.cards #ladies-card {
    transform: translate3d(0, 0, 0);
}

/* blogs.html */

.blogs-section {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #A5978A;
    border: 5px solid #EEDDCA;
    width: calc(100% - 20px);
    box-sizing: border-box;
    margin: 95px 10px 10px;
    padding-bottom: 100px;
}

.blogs-section>h2 {
    /* Title of page */
    right: 50%;
    transform: translate(50%, 50%);
    position: absolute;
}

.blogs {
    position: relative;
    margin: 100px 50px 0;
}

.blogs>h2 {
    /* Individual blog titles for each blog */
    position: absolute;
    top: 100%;
    max-width: 100%;
    text-align: center;
    font-size: 1.5em;
}

.blogs>span {
    opacity: 0;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 0%);
    font-family: 'Lora', serif;
    font-size: 2em;
    text-align: center;
    color: #251E2D;
    width: 100%;
}

.blogs>img {
    max-width: 100%;
    border: 10px solid #675447;
    border-radius: 10px;
    box-sizing: border-box;
}

.blogs>img:hover {
    transition: 0.7s;
    opacity: 0.5;
}

.blogs>img:hover~span {
    opacity: 1;
    transition: 0.5s;
}

/* Sign up section */

.sign-up-div {
    background-color: #A5978A;
    position: relative;
    margin: 95px 10px 10px;
    border: 5px solid #EEDDCA;
    box-sizing: border-box;
    text-align: center;
    height: auto;
}

form label {
    position: relative;
    display: inline-block;
    width: 120px;
}

#tcs-label {
    display: block;
}

form input {
    background-color: #EEDDCA;
}

#terms-conditions {
    accent-color: #675447;
}

#terms-conditions+label {
    width: auto;
    font-size: 0.7em;
}

#sign-up {
    font-size: 1.1em;
    padding: 6px;
    border-radius: 10px;
}

#sign-up:hover {
    background-color: #6A6058;
}

/* Footer section */

footer {
    background-color: #A5978A;
    margin: 10px 10px;
    border: 5px solid #EEDDCA;
    box-sizing: border-box;
    bottom: 0;
    width: calc(100% - 20px);
    height: 85px;
}

footer>div {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}

#instagram {
    position: absolute;
    top: 48%;
    /* odd number; needed adjusting to work with <p> underneath Instagram icon */
    left: 50%;
    transform: translate(-50%, -50%);
    /* CREDIT - https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ - Saw this piece of code before, but opted not to use it as it didn't make sense to me. Then I found this page - explained it BEAUTIFULLY! */
    font-size: 50px;
    color: #251E2D;
}

footer>div>p {
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#instagram:hover {
    color: #6A6058;
    transform: scale(1.1) translate(-50%, -50%);
    /* Needed to apply the same knowledge here as above - it looked off otherwise */
}

/* Attributions - very bottom of the page */

#attributions {
    position: relative;
    height: 10px;
}

#vecteezy {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
    font-size: 0.8em;
}

#freepik {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 15px;
    text-decoration: none;
    color: inherit;
    font-size: 0.8em;
}

#vecteezy:hover,
#freepik:hover {
    color: #A5978A;
    font-weight: bolder;
}

/* Media queries */
/* Tablets & medium devices */

@media screen and (max-width: 768px) {

    body,
    html {
        overflow-x: hidden;
    }

    #hero-image {
        width: 100%;
    }

    #hero-text {
        visibility: hidden;
    }

    #burger-menu-checkbox {
        display: none;
        position: absolute;
        top: 50px;
        right: 10px;
        z-index: 10;
    }

    .burger-menu-label {
        display: block;
        position: absolute;
        top: 50px;
        right: 5px;
        z-index: 9;
    }

    #burger-menu-checkbox:checked~nav {
        display: block;
    }

    header {
        display: block;
    }

    header>a {
        pointer-events: none;
    }

    header img {
        box-sizing: border-box;
        max-width: 80%;
        margin: 0;
    }

    nav {
        margin: 0;
        background-color: inherit;
        width: 100%;
        height: auto;
        display: none;
        opacity: 0.9;
    }

    nav li {
        font-size: 1rem;
        display: block;
        text-align: right;
        margin: 20px 10px 20px;
    }

    .about>img {
        visibility: hidden;
        /* Hides the leaf vector - distracts other elements on smaller screens! */
    }

    #profile-image {
        visibility: visible;
        /* Unhides this element - hidden due to .about>img */
        max-width: 40%;
        box-sizing: border-box;
        margin-top: 30px;
    }

    .about>p {
        display: block;
        margin: 0 10px;
        text-align: justify;
    }

    .card td {
        height: 40px;
    }

    .cards {
        height: 475px;
        width: 325px;
    }

    .cards label {
        width: 325px;
    }

    .cards .card {
        height: 475px;
    }

    #attributions {
        visibility: hidden;
    }
}

/* Mobiles & small devices */

@media screen and (max-width: 425px) {

    #profile-image {
        position: relative;
        max-width: 90%;
        transform: translate(5%, 0);
        margin-bottom: 20px;
        
        /* Resets below */
        top: 0;
        right: 0;
        margin-top: 0;
    }

    .card>h2 {
        font-size: 1.7em;
        margin-bottom: 10px;
    }

    #margin-services-ladies {
        margin-bottom: 10px;
    }

    #margin-services-treatments {
        margin-bottom: 10px;
    }

    .card th {
        font-size: 0.8em;
        width: 30px;
        height: 30px;
    }

    .card td {
        font-size: 0.8em;
        height: 30px;
    }

    .services-container {
        display: block;
        margin: 10px;
    }

    .cards {
        height: auto;
        width: 100%;
    }

    .cards label {
        position: relative;
        width: 100%;
    }

    .cards .card {
        margin: 20px 0;
        padding: 20px;
        border: 5px solid #675447;
        height: auto;
    }
}