/* search for testing and change before submitting! */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&family=Martel&family=Nothing+You+Could+Do&display=swap');

/* Idea for this snippet of code came from the "Love Running" project, I liked the idea of having full control of these parameters later */

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #6A6058;
    color: #251E2D;
    font-family: 'Martel', serif;
}

/* Navigation Bar */

#burger-menu-checkbox {
    display: none;
}

.burger-menu-label {
    display: none;
}

header {
    background-color: #A5978A;
    margin: 10px;
    border: 5px solid #EEDDCA;
    box-sizing: border-box;
    display: flex;
    position: fixed;
    top: 0;
    width: calc(100% - 20px);
    height: 75px;
    z-index: 10;
}

header h1 {
    font-family: 'Lora', serif;
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 10px;
}

nav {
    margin: 10px;
    word-spacing: 10px;
    display: flex;
    position: absolute;
    right: 0;
    height: calc(100% - 20px);
    align-items: end;
}

nav li {
    list-style-type: none;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    border-bottom: 2px solid #6A6058;
    color: #6A6058;
    font-weight: bolder;
}

/* Hero image & Site landing*/

.landing-page {
    position: relative;
    margin: 100px 10px 10px;
    border: 5px solid #EEDDCA;
    box-sizing: border-box;
    /*take out - testing*/
    height: 1800px
}

/* Media queries */

/* Mobiles & small devices */

@media screen and (max-width: 480px) {
    #hero-image {
        width: 100%;
    }

    #burger-menu-checkbox {
        display: none;
        position: absolute;
        top: 50px;
        right: 10px;
        z-index: 10;
    }

    .burger-menu-label {
        display: block;
        position: absolute;
        top: 45px;
        right: 5px;
        z-index: 9;
    }

    #burger-menu-checkbox:checked ~ nav {
        display: block;
    }

    header {
        display: block;
    }

    header h1 {
        text-align: center;
        margin: 0;
    }

    nav {
        margin: 0;
        background-color: inherit;
        width: 100%;
        height: auto;
        display: none;
        opacity: 0.9;
    }

    nav li {
        display: block;
        text-align: right;
        margin: 20px 10px 20px;
    }

}